
module wzh-mellanox-ovs-dpdk 1.0;

require {
	type openvswitch_t;
	type openvswitch_var_run_t;
	type hugetlbfs_t;
	class capability { fsetid net_raw };
	class netlink_rdma_socket { bind create getattr getopt setopt };
	class file map;
}

#============= openvswitch_t ==============

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow openvswitch_t hugetlbfs_t:file map;

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow openvswitch_t openvswitch_var_run_t:file map;
allow openvswitch_t self:capability { fsetid net_raw };
allow openvswitch_t self:netlink_rdma_socket { bind create getattr getopt setopt };
