#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=172.21.6.254 --ip=172.21.6.11 --nameserver=172.21.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=static --device=eth1 --ip=172.21.7.12 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=lab101-ceph

repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Root password
rootpw --iscrypted $6$Ld3NE4LEAwc80Dkw$WkerDrvfi8bEmVs1FEjvWNMl6FBHxWbTcygPNbH3xhsqI/iI6uBJ7PNmTgfD33jXLRuw8RYJkboPvpB7EGWbS0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=1024
part pv.186 --fstype="lvmpv" --ondisk=vda --size=50175
volgroup rhel --pesize=4096 pv.186
logvol swap  --fstype="swap" --size=5119 --name=swap --vgname=rhel
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=rhel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end