#version=RHEL8
# Use graphical install
graphical


%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eno1 --gateway=172.21.6.254 --ip=172.21.6.102 --nameserver=172.21.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp4s0f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp4s0f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ib0 --onboot=off --ipv6=auto
network  --hostname=panlab-102

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=284414
part /boot --fstype="xfs" --ondisk=sda --size=1024
part biosboot --fstype="biosboot" --ondisk=sda --size=1

# System timezone
timezone Asia/Shanghai --isUtc --nontp

# Root password
rootpw --iscrypted $6$OSwTcevtbQfE/jzr$QQRagqJdH49yNjekIbz1/Rw04eni42EJbVEZB3Q47ZXpKelzgVjAokJUPtGYbZ6t3iwwQs4ZNhn/vuIlCqH1z1

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
