#version=RHEL8
# Use graphical install
graphical

repo --name="minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/minimal

%packages
@^minimal-environment

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp1s0 --gateway=172.21.6.254 --ip=172.21.6.150 --nameserver=172.21.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=helper

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=1024
# part swap --fstype="swap" --ondisk=vda --size=4096
part / --fstype="xfs" --ondisk=vda --size=1 --grow
# part pv.221 --fstype="lvmpv" --ondisk=vda --size=1 --grow 
# volgroup vg0 --pesize=4096 pv.221
# logvol swap --fstype="swap" --size=512 --name=swap --vgname=vg0
# logvol / --fstype="xfs" --size=1 --grow --name=root --vgname=vg0

# System timezone
timezone Asia/Shanghai --utc --nontp

# Root password
rootpw --plaintext redhat

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# %anaconda
# pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
# pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
# pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
# %end

%post
###############################################################################
# SSH configuration
###############################################################################

# allow root login
sed -i -e '/PermitRootLogin/ c\PermitRootLogin yes' /etc/ssh/sshd_config


%end


reboot