Host localhost
  StrictHostKeyChecking no

Host 0.0.0.0
  StrictHostKeyChecking no

Host *
  StrictHostKeyChecking no

Host master*
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

Host hadoop-*
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
