global
  log stdout format raw local0
  maxconn 20000

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client  50000
  timeout server  50000

frontend http_front
  bind *:8080
  stats uri /haproxy?stats
  default_backend http_back

backend http_back
  balance roundrobin
  # --- L4 Health Check ---
  # No specific http check, HAProxy will perform a TCP check on the server port (80)
  # -----------------------
  # SERVERS_PLACEHOLDER
